block nav
    header(class='barra')
        div(class='name&Logo')
            p Data Cloud
        nav(class = 'indexNav')
            ul(class='bLogSignIn')
                li
                    input(type='button', value='Sign In', class='deIni sign', onclick="window.location.href='/signin'")
                li
                    input(type='button', value='Log In', class='deIni log', onclick="window.location.href='/login'")
