block nav
    header(class='barra')
        div(class='name&Logo')
            p Data Cloud
        nav(class = 'loginNav')
            ul(class='bLogSignIn')
                li
                    input(type='button', value='Sign Up', class='deIni sign', onclick="window.location.href='/users/signin'")
