block nav
    header(class='barra')
        div(class='name&Logo')
            p Data Cloud
        nav(class = 'sessionNav')
            ul(class='bLogSignIn')
                li
                    input(type='button', value='Log Out', class='deIni out', onclick="window.location.href='/users/logout'")