block nav
    header(class='logo')
        div(class='name&Logo')
            a(href='/myFolders', id='logo')
                img(src='/img/repotgray.png', alt='repotgray.png')
            p REPOT
        nav(class = 'sessionNav')
            ul(class='bLogSignIn')
                li
                    input(type='button', value='Log Out', class='deIni out')