block nav
    header(class='logo')
        div(class='name&Logo')
            a(href='/', id='logo')
                img(src='/img/repotgray.png', alt='repotgray.png')
            p REPOT
        nav(class = 'signinNav')
            ul(class='bLogSignIn')
                li
                    input(type='button', value='Log In', class='deIni log', onclick="window.location.href='/login'")
