extends layout

include nav/sessionNav

block content
    section.history
        include sideBar/folderSideBar
        section(class='historial')
            h2(class='h2-formulario') HISTORY
            div(class='history-block')
                p(class='document') document.docx uploaded at 10:00 pm 13/09/2017
                a(href="#")
                    i(class="fas fa-times-circle x-red-button")
            div(class='history-block')
                p(class='document') document.txt downloaded at 9:00 am 13/09/2017
                a(href="#")
                    i(class="fas fa-times-circle x-red-button")
