extends layout

include nav/sessionNav

block content
    section.folders
        div(.sideMyFolderxd)
            include sideBar/mFoldersSideBar
        article(class='myFolders')
            h3  #{title}
            //Lo que se agregue aqui me imagino sera dinamico pues se pondran y se quitaran carpetas xd
            p Contenido del folder
            form(name="upload-form" action="/users/upload" method="post" enctype="multipart/form-data")
                input(type="file", name='attachment', id='attachment')
                |Subir 
                input(type='submit', value='Subir')





    