extends layout

include nav/sessionNav

block content
    section.folders
        div(.sideMyFolderxd)
            include sideBar/mFoldersSideBar
        article(class='myFolders')
            h3  #{title}
            //Lo que se agregue aqui me imagino sera dinamico pues se pondran y se quitaran carpetas xd
            form(name="upload-form" action="/users/upload" method="post" enctype="multipart/form-data")
                p Upload files here:
                //div(class="wrap-button")
                    button(class="btn") Select a file
                input(type="file", name='attachment', id='attachment' value='Select a file')  
                input(type='submit', value='Upload file', id ='upload_archive')






    