extends layout

include nav/sessionNav

block content
    section.folders
        include sideBar/mFoldersSideBar
        article(class='myFolders')
            h3  #{title}
            //Lo que se agregue aqui me imagino sera dinamico pues se pondran y se quitaran carpetas xd
            p Contenido del folder
            a(href='/upload') Upload an Image






    