extends layout

include nav/sessionNav

block content
    section(class = "settings")
        div(.sideMyFolderxd)
            include sideBar/folderSideBar
        div(class = "inside_settings")
            img(src="/img/avatar.jpg", alt="avatar")
            ul.settings1
                li
                    a(href="#") Change username
                li
                    a(href="#") Change password
                li
                    a(href="#") Change profile picture
                li
                    a(href="#") Change your country
                li
                    a(href="#") Upgrade yor account
                li
                    a.delete(href='#') Delete your account

    //script(src='/javascripts/main.js')