extends layout

include nav/sessionNav

block content
    section(class = "settings")
        div(.sideMyFolderxd)
            include sideBar/folderSideBar
        div(class = "inside_settings")
            img(src="/img/avatar.jpg", alt="avatar")
            p #{JSON.parse(session.user).username}
            p #{JSON.parse(session.user)._id}
            table
                thead
                    th id
                    th Username 
                    th Password
                    th e-mail
                    th Country
                    th Gender
                    th Birthday
                    th Options
                tbody.settingsX
                

    script(src='/javascripts/settings.js')