extends layout
block content
   form.register(action='/upload', method='post', enctype='multipart/form-data')
      if locals.message
         img(src='#{message}', alt='')
      br
      |Selecciona la imagen
      input(type="file", name='photo')
      br
      input(type='submit', value='Guardar')