/*En el bosque de la china la chinita se perdió*/

.myFolders form{
    padding-top: 1rem;
    padding-left: 2rem;
}

.myFolders form p{
    margin-bottom: 0.5em;
    font-size: 1.2em;
}

input[type="file"]{
    margin-right: 1rem;
}

#attachment::-webkit-file-upload-button {
    visibility: hidden;
}

#attachment::before {
    content: 'Select a file';
    display: inline-block;
    border: 2px solid #FF5E5B;
    color: #ffffff;
    background-color: #FF5E5B;
    padding: 5px 20px;
    border-radius: 5px;
    font-size: 1rem;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
}

#attachment:hover::before {
    background-color: #11A5AD;
    color: #ffffff;
    border: 2px solid #11A5AD;
}

#attachment:active::before {
    background:  #FF5E5B;
}

#upload_archive {
    background-color: #11A5AD;
    color: #ffffff;
    border: 2px solid #11A5AD;
    border-radius: 5px;
    padding: 5px 27px;
    margin-left: 0.5rem;
    font-size: 1rem;
}

#upload_archive:hover {
    background-color: #FF5E5B;
    border: 2px solid #FF5E5B;
    cursor: pointer;

}

@media only screen and (min-width: 795px){
    .mainOpts{
        min-height: 400px;
     }
}
@media only screen and (max-width: 794px){
    .mainOpts{
        min-height: 250px;
     }
}
