* {
  padding: 0;
  margin: 0;
}

body{
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #090302;
}

/*header design*/
.barra{
  background-color: #1b1a1a;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.barra p{
  color: #EEF0F2;
  font-weight: bold;
  font-size: 1.3em;
  padding-left: 1em;
  cursor: pointer;
}

.indexNav{
  padding-right: 1em;
}

.barra nav ul li{
  display: inline;
  list-style: none;
}

.barra input[type='button']{
  border: 1px transparent solid;
  background-color: transparent;
  color: #EEF0F2;
  padding: 0.7em;
}

.barra input[type='button']:hover{
  color: #FF5E5B;
  cursor: pointer;
}

/*First section design*/
.titulo{
  background-image: url("/img/hands.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 7rem;
  padding-bottom: 7rem;
  text-align: center;
  text-shadow: 0px 2px 3px rgba(0,0,0,0.4);
}

.titulo h1{
  font-size: 8em;
  letter-spacing: 0.03em;
  font-family: 'Alegreya Sans SC', sans-serif;
  margin: 0;
}

.titulo p{
  font-size: 1.5em;
  margin: 0;
}

.titulo .boton_inicial{
  margin-top: 2rem;
}

/*primer grid area*/
.about_us{
  background-color: rgb(24, 171, 179);
  color: #EEF0F2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  "aboutus imagen1";
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.article1{
  grid-area: aboutus;
  padding-left: 5em;
  padding-right: 3em;
  line-height: 1.6em;
  text-align: justify;
}

.imagen1{
  grid-area: imagen1;
  margin: auto;
  padding-left: 3em;
  padding-right: 3em;
}

.files{
  width: 90%;
  margin-left: 5%;
}

.article1 h2{
  font-size: 3rem;
  letter-spacing: 0.02em;
  font-family: 'Alegreya Sans SC', sans-serif;
  margin-bottom: 2rem;
}

.article1 hr{
  border: 5px solid #FF5E5B;
  margin-bottom: 2rem;
}

/*segundo grid area*/
.area4{
  background-color: #EEF0F2;
  color: #333333;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  "article2 article3"
  "article4 article5";
  padding: 3rem;
  grid-gap: 1.5em;
  text-align: justify;
}

.article2{
  grid-area: article2;
}

.article3{
  grid-area: article3;
}

.article4{
  grid-area: article4;
}

.article5{
  grid-area: article5;
}

.area4 img{
  width: 100%;
  height: 20rem;
  border-radius: 5px;
}

.area4 article{
  padding: 1em;
}

.area4 h2{
  font-size: 2em;
}

.area4 p{
  line-height: 1.6em;
}

.area4 article img, .area4 article h2{
  margin-bottom: 1rem;
}

/*settings design*/
.inside_settings {
  width: 40%;
  background-color: #333333;
  margin: 3rem auto;
  padding: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.inside_settings img{
  width: 100px;
}

.inside_settings ul{
  padding: 2rem;
}

.inside_settings li{
  list-style: none;
  padding: 0.6rem;
  text-align: center;
}

.inside_settings a{
  text-decoration: none;
  color: #EEF0F2;
}

.inside_settings a:hover{
  cursor: pointer;
  color: #FF5E5B;
}

/*footer design*/
.final{
  background-color: #333333;
  color: #EEF0F2;
  padding-top: 4rem;
  padding-bottom: 4rem;
  text-align: center;
  line-height: 1em;
}

.final a{
  color: #EEF0F2;
  text-decoration: none;
}

.final p{
  margin-bottom: 1em;
}

.final a:hover{
  color: #11A5AD;
}

.icons a{
  padding: 0.7em;
}

/*Button decoration*/
.boton_inicial{
  color: #EEF0F2;
  background-color: #FF5E5B;
  border: 1px #FF5E5B solid;
  border-radius: 20px;
  padding: 0.7rem 3rem;
  text-transform: capitalize;
  font-size: 1rem;
}

.boton_inicial:hover{
  color: #FF5E5B;
  background-color: #090302;
  border: 1px #090302 solid;
  cursor: pointer;
}

/*Login y registro*/
.login{
  padding: 4em 8em;
}
.barra-login-azul{
  grid-area: barra;
  margin: 0em 0em 2em;
  color:#11A5AD;
  border: 2px solid;
  border-radius: 2px;  
}

.barra-login-rosa{
  margin: 0em 0em 2em;
  color:#FF5E5B;
  border: 2px solid;
  border-radius: 2px;
}
.boton-rosa-azul{
  grid-area: boton;
  border:none;
  border-radius: 5px;
  padding: 15px 30px;
  background: #FF5E5B;
  color: #EEF0F2;
  margin: 15px 0px;
}
.boton-rosa-azul:hover{
  background:#11A5AD;
  color: #EEF0F2;
}
.boton-azul-rosa{
  grid-area: boton;
  border:none;
  border-radius: 5px;
  padding: 15px 30px;
  background: #11A5AD;
  color: #EEF0F2;
  margin: 15px 0px;
}
.boton-azul-rosa:hover{
  background:#FF5E5B;
  color: #EEF0F2;
}
.crear-cuenta{
  grid-area: footer;
}
.textfield-1{
  width: 99%;
  margin: 7px 0;
  padding: 11px 15px;
  background-color: rgb(233, 233, 233);
  border-radius: 5px;
  border:none;
}
.textfield-2{
  width: 90%;
  margin: 7px 0;
  padding: 11px 15px;
  background-color: rgb(233, 233, 233);
  border-radius: 5px;
  border:none;
}
.textfield-3{
  width: 98%;
  margin: 7px 0;
  padding: 11px 15px;
  background-color: rgb(233, 233, 233);
  border-radius: 5px;
  border:none;
}
.select-1{
  width: 102%;
  margin: 7px 0;
  padding: 12px 15px;
  background-color: rgb(233, 233, 233);
  border-radius: 5px;
  border:none;
}
.label-text-login-signin{
  color:#11A5AD;
}
.h2-login{
  font-size: 1.5em;
  font-family: 'Alegreya Sans SC', sans-serif;
  color:#323232;
}
.h3-login{
  font-size: 1.2em;
  font-family: 'Alegreya Sans SC', sans-serif;
  color:#323232;
}
.barra-singin-azul{
  grid-area: barra-signin;
  margin: 0em 0em 2em;
  color:#11A5AD;
  border: 2px solid;
  border-radius: 2px;  
}
.barra-singin-rosa{
  grid-area: barra-signin2;
  margin: 0em 0em 2em;
  color:#FF5E5B;
  border: 2px solid;
  border-radius: 2px;  
}
.seccion-2-textfields{
  display: grid;
  grid-template-columns: 52% 48%;
  grid-template-areas: 
  "seccion1 seccion2"
  "seccion3 seccion4";
}
.seccion-2-textfields-1{
  grid-area: seccion1;
}
.seccion-2-textfields-2{
  grid-area: seccion2;
}
.seccion-2-textfields-3{
  grid-area: seccion3;
}
.seccion-2-textfields-4{
  grid-area: seccion4;
}
/*Fin del Login y registro*/
/*Historial*/
.historial{
  padding: 2em 3em;
}
.history-block{
  padding: 0.5px 20px;
  margin: 5px;
  background-color: #F2F2F7;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.h2-formulario{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  font-weight: 100;
}
.x-red-button{
  font-size: 1.5em;
  text-decoration: none;
  color:#FF5E5B;
}
.x-red-button:hover{
  color:#11A5AD;
}
/*Fin del historial*/
/*For responsive website*/
@media only screen and (max-width: 767px) {
  .titulo h1 {
      font-size: 80px;
  }
}

@media only screen and (max-width: 767px){
  .titulo p {
      font-size: 20px;
  }
  .about_us{
      background-color: rgb(24, 171, 179);
      color: #EEF0F2;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-areas: 
      "aboutus"
      "imagen1";
      padding-top: 7rem;
      padding-bottom: 7rem;
  }
  .area4{
      background-color: #EEF0F2;
      color: #333333;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-areas: 
      "article2"
      "article3"
      "article4"
      "article5";
      padding: 3rem;
      grid-gap: 1.5em;
      text-align: justify;
  }
  /*Login y registro*/
  .login{
    padding: 2em 5em;
  }
  .seccion-2-textfields{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "seccion1"
    "seccion2"
    "seccion3"
    "seccion4";
  }
  .textfield-2{
    width: 99%;
    margin: 7px 0;
    padding: 11px 15px;
    background-color: rgb(233, 233, 233);
    border-radius: 5px;
    border:none;
  }
  .textfield-3{
    width: 99%;
    margin: 7px 0;
    padding: 11px 15px;
    background-color: rgb(233, 233, 233);
    border-radius: 5px;
    border:none;
  }
  /*Fin de Login y registro*/
}

