block nav
    header(class='barra')
        div(class='name&Logo')
            p Data Cloud
        nav(class = 'signinNav')
            ul(class='bLogSignIn')
                li
                    input(type='button', value='Log In', class='deIni log', onclick="window.location.href='/users/login'")
