block sideBar
    article(class='userMenu')
        section(class='ajustes')
            a(href='settings', class='avatar main')
                img(src='/img/avatar.jpg', alt='avatar.jpg')
            link(rel='Settings', href='/settings')
        section(class='mainOpts')
            nav(class = 'sideFolderNav')
                ul(id='mO')
                    li
                        a(href='/users/history') History
                    li
                        a(href='#') Create new folder
                    li
                        a(href='#') Upload file
                    li
                        a(href='/users/myFolders') Go back
                    li
                        a(href='#') Upgrade account