extends layout

include nav/sessionNav

block content
    h2 History
    div(class='history-block')
        p(class='document') document
        p(class='action') action
        p  at
        p(class='action-time') action-time
        p(class='action-date') action-date
        button(class='delete-history-button') Delete history
