extends layout

include nav/indexNav

block content  
    section(class="titulo")
        h1 Data Cloud
        p Save, archive and organize all your files.
        input(type='button', value='Start now', class='boton_inicial', onclick="window.location.href='/users/signin'")
    section(class="about_us")
        article(class="article1")
            h2 About us
            hr
            p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim mollitia, accusantium, omnis officia facere, accusamus voluptas neque illo obcaecati tempore eius quod voluptates soluta dolor atque? Consectetur suscipit provident dolorem. Tempore, incidunt magni similique tempora aspernatur quia delectus explicabo! Sit blanditiis molestias incidunt adipisci in libero aliquam? Quas tempora est vero voluptatibus similique, fugiat impedit odio sed ullam odit nobis!
            p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim mollitia, accusantium, omnis officia facere, accusamus voluptas neque illo obcaecati tempore eius quod voluptates soluta dolor atque? Consectetur suscipit provident dolorem. Tempore, incidunt magni similique tempora aspernatur quia delectus explicabo! Sit blanditiis molestias incidunt adipisci in libero aliquam? Quas tempora est vero voluptatibus similique, fugiat impedit odio sed ullam odit nobis!
        div(class="imagen1")
            img(src="/img/organized2.jpg", alt="files", class="files")
    section(class="area4")
        article(class="article2")
            img(src="/img/piles.jpg", alt="piles")
            h2 Benefits
            p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto, minima esse aut eius atque aperiam, omnis fugiat natus, aliquam veritatis sint deserunt architecto officia sunt sed impedit facere eaque! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto, minima esse aut eius atque aperiam, omnis fugiat natus, aliquam veritatis sint deserunt architecto officia sunt sed impedit facere eaque!
        article(class="article3")
            img(src="/img/books.jpg", alt="piles")
            h2 How to use
            p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto, minima esse aut eius atque aperiam, omnis fugiat natus, aliquam veritatis sint deserunt architecto officia sunt sed impedit facere eaque! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto, minima esse aut eius atque aperiam, omnis fugiat natus, aliquam veritatis sint deserunt architecto officia sunt sed impedit facere eaque!
        article(class="article4")
            img(src="/img/files.jpg", alt="piles")
            h2 Keep yourself organized
            p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto, minima esse aut eius atque aperiam, omnis fugiat natus, aliquam veritatis sint deserunt architecto officia sunt sed impedit facere eaque! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto, minima esse aut eius atque aperiam, omnis fugiat natus, aliquam veritatis sint deserunt architecto officia sunt sed impedit facere eaque!
        article(class="article5")
            img(src="/img/books2.jpg", alt="piles")
            h2 News from us
            p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto, minima esse aut eius atque aperiam, omnis fugiat natus, aliquam veritatis sint deserunt architecto officia sunt sed impedit facere eaque! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto, minima esse aut eius atque aperiam, omnis fugiat natus, aliquam veritatis sint deserunt architecto officia sunt sed impedit facere eaque!
