extends layout

block content  
  //span(class='eCompleto')
    header(class='logo') 
      a(href='#', id='log')
        img(src='/img/93b5a86a0836ef7f1a078d48ab3bc32f.jpg', alt="logo")
  h1= title
  p Welcome to #{title}
