extends layout

block header
        header(class='logo')
        a(href="#", id='logo')
            img(src='/img/repotgray.png', alt='repotgray.png')
        p REPOT
        ul(class='bLogSignIn')
            li
                input(type='button', value='Sign In', class='deIni sign')
            li
                input(type='button', value='Log In', class='deIni log')
block sideBar

block content  

article(class='Misc')
    ul(class='links')  
        li
            a(href='#') Log In
        li
            a(href='#') Sign In
    ul(class='social')
        li  facebook
        li  twitter
        li  instragram
        li  youtube