extends layout

include nav/indexNav

block content  
    article(class='aboutUs', id='aU')
        h1(id='aboutUs', class='indexHeader') About Us
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus sunt ad accusantium veniam? Accusamus autem impedit aperiam repudiandae! Tenetur autem aut ab earum repellat tempora. Tempora ea eos recusandae nemo?
        a(href='#aU' id='aboutImg')
            img(src='/img/repotgray.png', alt='repotgray.png')
    article(class='premiumA', id='pA')
        h1(id='premium', class='indexHeader') Become a premium user!
        P Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa reiciendis, aliquid nemo laboriosam, explicabo maiores eaque, veritatis recusandae totam neque nihil aspernatur repellat quos libero voluptatibus. Corrupti voluptatum omnis optio.
    article(class='Misc')
        ul(class='links')  
            li
                a(href='/login') Log In
            li
                a(href='/signin') Sign In
        ul(class='social')
            li  facebook
            li  twitter
            li  instragram
            li  youtube