extends layout

block content  
  header(class='logo')
        a(href="#", id='logo')
            img(src='/img/repotgray.png', alt='repotgray.png')
        p REPOT
  h1= title
  p Welcome to #{title}
