doctype html
html
  head
    title= repot
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block header
        header(class='logo')
        a(href="#", id='logo')
            img(src='/img/repotgray.png', alt='repotgray.png')
        p REPOT
    block sideBar
        article(class='userMenu')
        section(class='ajustes')
            a(href='#', class='avatar main')
                img(src='/img/avatar.jpg', alt='avatar.jpg')
            link(rel='Adjust', href='#')
        section(class='mainOpts')
            ul(id='mO')
                li
                    a(href='#') History
                li
                    a(href='#') Create new folder
                li
                    a(href='#') Upgrade account
    block content
      
    block footer
      p All rights reserved © 2018.