extends layout

include nav/signInNav

block content
    form(action='/signin' method='post')
        label(for='username') Username
        input#username(type='text', name='username' value=user?user.username:'')
        label(for='password') Password
        input#password(type='password', name='password')
        input(type='submit', value='Sign Up')
    h3(class='haveAccount') Do you already have an account? 
    a(href='/login') Log In now  